.card-container {
  background: url('src/images/fondo.jpg') center center/cover no-repeat;
  background-size:cover;
  
}

.card:hover {
  transform: translateY(15px); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 1); 
}
