.footer-negro {
  background-color: black;
  color: white;
 
}

ul,
ol {
  list-style: none;
  padding: 0;
}

ul li,
ol li {
  text-decoration: none;
}

li a {
  text-decoration: none;
}

footer p,
footer ul li a {
  color: white;
}

.informacion_cursos {
  margin-left: 20em;
  margin-top: -7em;
}

.informacion_empresa {
  margin-left: 57em;
  margin-top: -7em;
}

.copyright {
  margin-bottom: -55em;
}

.redes-sociales {
  margin-left: -46em;
  margin-top: 5em;
}
/* Estilos para pantallas más pequeñas */

@media (max-width: 768px) {
  .redes-sociales {
    display: flex;
    justify-content:center;
    margin-top: 1em;
    margin-left: 0%;
  
  }
  .informacion_cursos,
  .informacion_empresa {
    width: 100%; /* Cambiar el ancho al 100% para ocupar todo el espacio disponible */
    margin-left: 0; /* Eliminar el margen izquierdo */
    margin-top: 2em;
    text-align: center;
  }
  .logo-container {
    display:flex;
    justify-content:center;
    margin-left: 0; /* Eliminar el margen izquierdo */
    margin-top: 2em;
  }
  .copyright {
    text-align: center;
    font-size: 1em; /* Cambiar el tamaño de fuente a em para hacerlo más escalable */
    margin-top: 1em;
  }
}

@media (max-width: 320px) {
  .logo-container {
    margin-left: 0; /* Eliminar el margen izquierdo */
  }
  .redes-container {
    margin-left: 0; /* Eliminar el margen izquierdo */
  }
  .informacion_cursos,
  .informacion_empresa {
    width: 100%; /* Cambiar el ancho al 100% para ocupar todo el espacio disponible */
    margin-left: 0; /* Eliminar el margen izquierdo */
    text-align: center;
    margin-top: 2em;
  }
  .copyright {
    text-align: center;
    font-size: 0.7em; /* Cambiar el tamaño de fuente a em para hacerlo más escalable */
    margin-left: 0; /* Eliminar el margen izquierdo */
    margin-top: 2em;
  }
}

