.footer-negro {
  background-color: black;
  color: white;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

ul li,
ol li {
  text-decoration: none;
}

li a {
  text-decoration: none;
}

footer p,
footer ul li a {
  color: white;
}

.informacion_cursos {
  margin-left: 20em;
  margin-top: -7em;
}

.informacion_empresa {
  margin-left: 57em;
  margin-top: -7em;
}

.copyright {
  margin-bottom: -55em;
}

.redes-sociales {
  margin-left: -41em;
  margin-top: 5em;
}
/* Estilos para pantallas más pequeñas */

@media (max-width: 768px) {
  .redes-sociales {
    align-items: center;
    margin-left: 15em;
    margin-top: 0em;
  }
  .informacion_cursos {
    width: 50%;
    margin-left: -20em;
    margin-top: 2em;
  }
  .informacion_empresa {
    margin-left: 10em;
    margin-top: 2em;
  }

  .logo-container {
    margin-left: 22em;
  }
  .copyright {
    text-align: center;
    font-size: 8px;
    margin-top: 1em;
  }
}
@media (max-width: 320px) {
  .logo-container {
    margin-left: 11em;
  }
  .redes-sociales {
    margin-left: 4em;
  }
  .informacion_cursos {
    width: 50%;
    margin-left: -1em;
    text-align: center;
    margin-top: -1em;
  }
  .informacion_empresa {
    width: 50%;
    margin-left: 9em;
    text-align: center;
    margin-top: -1em;
  }
  .copyright {
    text-align: center;
    font-size: 7px;
    margin-left: -1em;
    margin-top: 4em;
  }
}
