/* img{
    height: 50px;
    width: 70px;
} */
/*
.container{
    margin: 0;
    padding: 0;
}
*/

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.pulse {
    --color: #ffffff;
    --hover: #d9d8eb;
  }

  button {
    color: var(--color);
    transition: 0.25s;
  }
  button:hover, button:focus {
    border-color: var(--hover);
    color: #fff;
  }
  
 
  button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    border-radius: 20px;
  }

  .pulse:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid black;
    transition: background-color 0.8s, color 0.8s;
  }
  
  h1 {
    font-weight: 400;
  }
  
  code {
    color: #fcfcfc;
    font: inherit;
  }
#container-nav {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  width: 100%;
  background-color: black; /* rgb(161, 159, 159);*/
}

.nav-container {
  display: Flex;
  margin: auto;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: -100px;
}

#logo {
  margin-right: 55%;
  color: white;
}
#Navbar {
  margin: 0;
  padding: 0;
  width: 100%;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 1.2em 2.5em -0.2em var(--hover);
  transform: translateY(-0.25em);
}

.raise {
    --color: #fcf8f8;
    --hover: #f80404;
  }
.raise:hover{
  background-color: rgb(255, 0, 0);
  color: rgb(5, 5, 5);
  border: 2px solid rgb(224, 75, 75);
  transition: background-color 0.8s, color 0.8s;}
  

.btn-cerrar {
  margin-inline: 20px;
}

@media (max-width: 1399px) {
  .nav-container {
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left: -300px;
  }
  .raise {
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  }
}

.class-1 {
  display: inline-block;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}
.class-1:after {
  content: "Clases";
  position: absolute;
  top: -100%;
  left: 0px;
  width: 100%;
  background: #888484;
  transform-origin: left bottom;
  transform: rotateX(90deg);
}
.class-1:hover {
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100%);
}

.class-2 {
  display: inline-block;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}
.class-2:after {
  content: "Nuestros Productos";
  position: absolute;
  top: -100%;
  left: 0px;
  width: 100%;
  background: #888484;
  transform-origin: left bottom;
  transform: rotateX(90deg);
}
.class-2:hover {
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100%);
}

.class-3 {
  display: inline-block;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}
.class-3:after {
  content: "Acerca de nosotros";
  position: absolute;
  top: -100%;
  left: 0px;
  width: 100%;
  background: #888484;
  transform-origin: left bottom;
  transform: rotateX(90deg);
}
.class-3:hover {
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100%);
}

.class-4 {
  display: inline-block;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}
.class-4:after {
  content: "Contáctanos";
  position: absolute;
  top: -100%;
  left: 0px;
  width: 100%;
  background: #888484;
  transform-origin: left bottom;
  transform: rotateX(90deg);
}
.class-4:hover {
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100%);
}



@media (max-width: 768px) {
  .nav-container {
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left: 300px;
  }
  .raise {
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left: 300px;
  }
}


@media (max-width: 420px) {
  .nav-container {
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left: 120px;
  }
  .raise {
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    margin-inline: 115px;
    background-color: #f80404;
  }
}
