
.imagenes{
    max-height: 300px;
   
}

.imagenes{
    height: 100%;
    width: 100%;
}


.planes {
    /*border: 1px black solid;*/
    min-width: 200px;
    min-height: 200px;
    
}

.planes img {
    max-width: 450px;
    max-height: 250px;
    border-radius: 0.5rem;

}
.planes img {
    width: 100%;
    height: 100%;
    transition: all 300ms;
    position: relative;
}



.ventas img{
    transition: all 300ms;
    position: relative;
    border-radius: 0.4rem;
}

<<<<<<< HEAD
.ventas img:hover{
    transform: scale(1.15);
}


=======
>>>>>>> 76a7f90c1e10c6467fabb24a1bdb742e5fdf45fd

h3{
    text-align: center;
}

.container .row{
    margin-top: 20px;
   
}


.clima {
    min-height: 400px;
    background: radial-gradient(#1fe4f5, #3fbafe);
    color: white;

    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);

    transition: all 300ms;
}

.clima:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
  }

  .main-container {
    background-image: url('../images/Principal.jpg');
    background-size: cover;
    background-position: center;
    
  }
  
<<<<<<< HEAD
  @media only screen and (max-width: 767px) {
    .planes img:hover {
        transform: scale(1); /* Desactivar el efecto hover */
    }
}
=======
@media screen and (min-width: 1024px) {
    .planes img:hover{
        transform: scale(1.05);
    }

    .ventas img:hover{
        transform: scale(1.05);
    }
}
>>>>>>> 76a7f90c1e10c6467fabb24a1bdb742e5fdf45fd
