#contenedor{
    width: 100%;

    /*margin-bottom: 23%;*/

}

#agotado{
    color: red
}

.table tr{
    min-height: 200px;
}

#modal{
    z-index: 1;
    
}

.clasesDisponibles{
    width: 100%;
    display: flex;
    justify-content: center;
    

}



